.input__form{
    max-width: 200px;
    display: flex;
    flex-direction: column;
}

.input_pressure{
    min-width: 30px;
    height: 30px;
    max-width: 250px;
    margin-top: 10px;
    padding-left: 15px;
    border: 3px ridge black;
    background-color: rgba(255, 255, 128, .2);
    outline: none;
}
.input_pressure::placeholder {
    color: black;
    font-size: 1em;
  }

  .input_pressure::-webkit-outer-spin-button,
  .input_pressure::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
  }
  .input_pressure::-webkit-input-placeholder       {opacity: 1; transition: opacity 0.3s ease;}
  .input_pressure::-moz-placeholder                {opacity: 1; transition: opacity 0.3s ease;}
  .input_pressure:-moz-placeholder                 {opacity: 1; transition: opacity 0.3s ease;}
  .input_pressure:-ms-input-placeholder            {opacity: 1; transition: opacity 0.3s ease;}
  .input_pressure:focus::-webkit-input-placeholder {opacity: 0; transition: opacity 0.3s ease;}
  .input_pressure:focus::-moz-placeholder          {opacity: 0; transition: opacity 0.3s ease;}
  .input_pressure:focus:-moz-placeholder           {opacity: 0; transition: opacity 0.3s ease;}
  .input_pressure:focus:-ms-input-placeholder      {opacity: 0; transition: opacity 0.3s ease;}

.input_wrapper{
    padding-top: 185px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 85vw;
}

.btn_submit{
    -webkit-appearance: none;
    margin-top: 10px;
    height: 35px;
    width: 200px;
    display: block;
    border: 3px black ridge;
    opacity: 0.9;
    background-color: dimgrey;
}
.btn_submit:hover{
    cursor: pointer;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
    select:focus, textarea:focus, input:focus {
            font-size: 16px;
        }
    }