*{
    padding: 0;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

html,body{
    overflow-x: hidden;
    }

.header{
    max-width: 100%;
    margin: 0 auto;
}

.header_wrapper{
    max-width: 100%;
    height: 100px;
}

.description_gdzs{
    display: none;
    margin: 15px 20px;
    background-color: #D9D9D9;
    padding: 10px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 85vw;
}

.main{
    height: 100%;
    background: #A2A2A2;
    padding-top: 1px;
    background-image: url('./5f35b2c7e85fc7f.gif');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 130%;
}

.main_wrapper{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
