*{
    padding: 0;
    margin: 0;
    font-family: Pixel Font, sans-serif
}

html,body{
    overflow-x: hidden;
}

body{
    
}

@font-face {
    font-family: "Pixel Font";
    src: url("../fonts/F77\ Minecraft.ttf");
  }

.header{
    max-width: 100%;
    margin: 0 auto;
}

.header_wrapper{
    max-width: 100%;
    height: 100px;
}

.description_gdzs{
    display: none;
    margin: 15px 20px;
    background-color: #D9D9D9;
    padding: 10px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 85vw;
}

.main{
    height: 100%;
    background-image: url('../img/jasontomlee-2-17-fire-final-1920x.gif');
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    top: 0px;
    right: 0px;
    left: 0px;
}

.main:after {
    content: "";
    position: absolute;
    background-color: rgba(0, 0, 0, 0.3);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    
  }

.main_wrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 463px;
}
